---
import TilCard from '@/components/Card.astro'
import Layout from '@/layouts/MainLayout.astro';

const posts = await Astro.glob('./content/**/*.md')
---

<Layout title="Home til" description='Homa page'>
	<h1 class='text-5xl text-slate-700'>Today I Learned</span></h1>
	<section class="flex gap-10">
		{posts.map(({frontmatter, url}) => (
			<TilCard
				frontmatter={frontmatter}
				url={url}
			/>
		))}
	</section>
</Layout>
