<section class="notfound-ctn">
  <div class="notfound-background">
    <div class="notfound-title-ctn">
      <h1 class="notfound-title">404</h1>
      <h3 class="notfound-subtitle">The page you're looking for doesn't exist!</h3>
    </div>
  </div>
</section>
<style>
  .notfound-ctn {
    background: #010022;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .notfound-background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(150, 90, 145);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
    background-image: linear-gradient(32deg, rgba(150, 90, 145, 1) 0%, rgba(195, 19, 180, 1) 58%);
  }
  .notfound-title-ctn {
    position: relative;
    text-align: center;
  }
  .notfound-title {
    font-size: 15vw;
    font-weight: 900;
    color: #010022;
  }
  .notfound-subtitle {
    font-size: 2vw;
    color: #010022;
    margin-top: -20px;
  }
</style>
