---
import type { LayoutProps } from '@/types/layout';
import MainHead from '@/layouts/MainHead.astro'

type Props = LayoutProps;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<MainHead {title} {description} />
  <body>
    <main>
      <slot>Default Text</slot>
    </main>
  </body>
</html>
